<!-- app/views/api/get_data.html.erb -->
<turbo-frame id="api-data">
  <div>
    <p><strong>Message:</strong> <%= data['message'] %></p>
    <p><strong>Timestamp:</strong> <%= data['timestamp'] %></p>
  </div>
</turbo-frame>
